<div class="txt">
    <p>
        New transparency guidelines in the US now require Congressmen and Senators to
        publish details of their trades in company shares globally. Though less stringent than
        regulations for company insiders the data shows which politicians have a vested interest
        in certain stocks and provides insight into where positions have increased or reduced.
    </p>
</div>
<div class="img">
    <img src="./assets/images/2iQ logo.png" class="imgSize"> <h6 style="margin-right: 20%;"> Trades Reported by US
    Senators and Congressmen </h6>
</div>
