<footer class="main-footer">
  <div class="footer-container">
    <div class="footer-links">
      <a href="https://www.2iqresearch.com/privacy-policy">Privacy Policy </a> <span class="hidden-xs hidden-sm">|</span> <a href="https://www.2iqresearch.com/terms-of-use"> Terms and Conditions</a>
    </div>
    <span class="text-center">&#169;{{ year }} 2iQ Research. All rights reserved.
    </span>
    <span class="text-right hidden-xs">Powered by <img src="assets/images/2iq-logo-favicon.png"></span>
  </div>
</footer>
