.card-body-for-table {
    height: 570px;
}

.card-body-for-table .table-custom {
    overflow: auto;
}

.committee .table-custom {
    height: calc(100% - 220px);
}

.loader-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
}

.view-list {
    width: 22px;
}

.commitee-list li a {
    color: #23527c;
}

.commitee-list li {
    padding: 5px 0;
}

.commitee-list {
    height: 230px;
    overflow: auto;
    list-style: inside;
}

@media (min-width: 1220px) {
    .table tbody tr td {
        max-width: 170px;
    }
}

.most-purchased-table th:nth-child(1), .most-purchased-table td:nth-child(1) {
    flex: 1.5;
}

.most-purchased-table th:nth-child(4), .most-purchased-table td:nth-child(4) {
    flex: 1.3;
}

.most-purchased-table th:nth-child(5), .most-purchased-table td:nth-child(5) {
    position: relative;
    left: 10px;
}

details {
    position: relative;
    margin-bottom: 15px;
}

details summary {
    display: block;
}

details summary:focus {
    outline: none;
}

details[open] {
    display: block;
    animation: open .2s linear;
}

details #open {
    padding-left: 5px;
    text-align: center;
    color: #23527c;
    text-decoration: underline;
}

#close, #open {
    cursor: pointer;
}

details #close {
    /*  display: none;*/
    color: #23527c;
    display: inline-block;
    padding-left: 5px;
    text-decoration: underline;
}
